@charset "utf-8";
/* CSS Document */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a {
	color: rgba(98,98,98,1);	
	transition: opacity, 0.5s;
}

a:hover {
	opacity: 0.5;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

div {
	display: block;
	text-align: center;
	margin: auto;	
}
html {
	height: 100%;
}

body {
	height: 100%;
	background: #fff;
	font-size: small;
	font-family: 'Open Sans', sans-serif, Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, "Osaka", "ＭＳ Ｐゴシック", "MS PGothic";
	line-height: 100%;
}

/* basic style start*/
.clearfix {
  overflow: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.inline {
	display: inline-block;
}

.block {
	display: block;
}


.mb20 {
	margin-bottom: 20px;
}


.mb30 {
	margin-bottom: 30px;
}

.mb50 {
	margin-bottom: 50px;
}

.mb100 {
	margin-bottom: 100px;
}


.mt20 {
	margin-top: 20px;
}


.mt30 {
	margin-top: 30px;
}

.mt50 {
	margin-top: 50px;
}

.mt100 {
	margin-top: 100px;
}

.mr0 {
  margin-right: 0px;
}

.ml0 {
  margin-left: 0px;
}

.pdg20 {
  padding:20px; 
}
/* basic style end*/

div {
	margin: 100px;
}

/*****Basic Layout*****/
div#container { margin: 20px auto 0; overflow: hidden; width: 640px; }

ul#filter { float: left; font-size: 16px; list-style: none; margin-left: 0; width: 100%; }
ul#filter li { 
    border-right: 1px solid #dedede;
    float: left;
    line-height: 16px;
    margin-right: 10px;
    padding-right: 10px;
}
ul#filter li:last-child { border-right: none; margin-right: 0; padding-right: 0; }
ul#filter a { color: #999; text-decoration: none; }
ul#filter li.current a, ul#filter a:hover { text-decoration: underline; }
ul#filter li.current a { color: #333; font-weight: bold; }

ul#portfolio { float: left; list-style: none; margin-left: 0; width: 672px; }
ul#portfolio li { 
    border: 1px solid #dedede; 
    float: left; 
    margin: 0 10px 10px 0; 
    padding: 5px;
    width: 102px;
    background:#f7f7f7;
}
ul#portfolio a { display: block; width: 100%; }
ul#portfolio a:hover { text-decoration: none; }
ul#portfolio img { border: 1px solid #dedede; display: block;  }

/* end */